.AppNavbar {
    background: transparent linear-gradient(274deg, #62BCC1 0%, #EC068E 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 60px;
    z-index: 100;
    flex-shrink: 0;
    position: fixed;
    width: 100vw;
    top: 0;
}

@media (min-width: 768px){
    .DesktopNavItems {
        display: flex;
        justify-content: center;
    }
    
    .ProfileIcon {
        height: 45px;
        cursor: pointer;
        border-radius: 30px;
        border: 2px solid transparent;
    }
    
    .ProfileIcon:hover {
        background: #62BCC1;
        border: 2px solid #62BCC1;
    }
    
    .ProfileInfo {
        position: fixed;
        top: 60px;
        padding: 5px 20px;
        background: #30332E;
    }
    
    .LogoutButton {
        cursor: pointer;
    }
}

@media (max-width: 767px){
    .AppNavbar {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .NavbarMain { 
       display: flex;
       align-items: center;
       height: 60px;
    }

    .HamburgerIcon {
        position: absolute;
    }

    .HamburgerIcon:hover {
        cursor: pointer;
    }

    .Logo {
        margin: auto;
    }

    .ProfileIcon {
        display: none;
    }
}
