.LogHeader {
    font-size: 2rem;
    font-weight: bold;
    color: #fffbfc;
    text-align: center;
    margin-top: 50px;
}

.LogContent {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
