.Album {
    display: inline-block;
    margin: 10px;
}

.AlbumCover {
    height: 150px;
    width: 150px;
    background: #071A00;
    display: block;
}

.AlbumCover img {
    height: 150px;
}

.AlbumTitle, .AlbumArtist {
    display: block;
    width: 150px;
    color: #FFFBFC;
    font-size: 1.25rem;
}

.AlbumTitle {
    font-weight: bold;
}

.AlbumTitle:hover {
    cursor: pointer;
    color: #62BCC1;
}
