.AuthenticateModal {
    /*background: linear-gradient(34deg, #62BCC1 0%, #EC068E 100%);*/
    background: #FFFBFC;
    border-radius: 100px; 
    height: 400px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    padding: 40px;
    display: flex;
}

.AuthenticateForm {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AuthenticateRows {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.AuthenticationHeaders div {
    color: #30332E;
    font-weight: bold;
}


.AuthenticationHeaders div:hover {
    cursor: pointer;
    color: #62BCC1;
}

.AuthenticationInput {
    border: none;
    background: none;
    border-bottom: 1px solid #30332E;
    color: #010400;
    width: 80%;
    outline: none;
}

.AuthenticationInput::placeholder {
    color: #30332E;
}

.CurrentView {
    border-bottom: 2px solid #30332E;
    cursor: default !important;
    color: #30332E;
}

.CurrentView:hover {
    color: #30332E !important;
}

.CompleteButton {
    background: none;
    border: 2px solid #30332E;
    border-radius: 20px;
    color: #30332E;
    padding: 5px 15px;
}

.AuthError {
    display: flex;
    align-items: center;
    color: #30332E;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.ErrorIcon {
    height: 20px;
    margin-right: 5px;
}