.AppContainer {
    display: flex; 
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

.MainContent {
    overflow: hidden;
}

.MCColumn {
    height: 100%;
    overflow: auto;
}

@media (max-width: 767px){
    .MainContent {
        margin-top: 40px;
    }
}

