.AlbumPageSpinner {
    position: absolute;
    top: 50%;
    transform: (translateY(-50%));
}

.AlbumPage {
    margin-top: 50px;
    width: 100%;
}

.AlbumInfo {
    margin-top: 25px;
    display: flex;
    
}

.AlbumTitle, .AlbumArtist {
    color: #FFFBFC;
    font-size: 1.75rem;
    display: block;
}

.AlbumTitle {
    font-weight: bold;
}

.AddRemoveButton {
    height: 50px;
    width: 50px;
    background: #EC068E;
    border: none;
    border-radius: 16px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.AddRemoveIcon {
    height: 25px;
    margin: auto;
}

.Disabled {
    background: #30332E;
    cursor: default;
}

.Popover {
    position: absolute; 
    padding: 20px;
    background: #FFFBFC;
    color: #EC068E;
    border-radius: 20px;
    top: 110%;
    width: 150px;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}